header {
    position: fixed;
    top: 0;
    width:100%;
    height:10%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fffccc;
    font-size: 20px;
}
.logo{
   width: 60vw;
}
.logo img{
   height: auto;
   width: auto;
   float:left;
   max-height:10%;
   max-width: 10%;
}
@media (min-width: 992px) {
  #navbar {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
.navigation{
  float:right;
}

.navigation ul{
  display: flex;
  width: 25vw;
 flex-direction: row;
justify-content: space-around;
}
}
li{
  list-style:none;
}
a{
  text-decoration: none;
  color:#000;
}

/* mouse over link */
a:hover {
  color:#800060;
}

/* selected link */
a:active {
  color:#003d99;
}
.content{
  padding-top: 10%;
  padding-right: 20%;
  padding-left: 20%;
  font-size: 30px;
}
p {
  font-size: 20px;
  line-height: 1.75;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Signika', sans-serif;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  section {
    padding: 0px 0;
  }
}
section .section-heading {
  font-size: 40px;
  margin-bottom: 0px;
}

section .section-sub-heading {
  font-size:15px;
  font-weight: 400;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
}

.about-section img{
  position: absolute;
  border-radius: 50%;
  width:200px;
  height:200px;
}
.aboutside div{
  margin-left: 300px;
}
.flexbox {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}

.flexbox > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
}



